.ainize .container,
.about_hero .container {
  text-align: center;
  margin: 0px;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_hero .container {
  background-image: url("../images/about-hero.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  padding: 90px 120px 0px 120px;
}

.about_hero h1 {
  margin: 20px 60px;
  font-weight: normal;
}

.about_hero h4 {
  margin-bottom: 40px;
}

.about_hero .quote {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
  padding: 80px 170px 0px 170px;
}

.about_hero .quote h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  margin: 0;
  color: #6c6aa4;
}

.about_hero .quote img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.about_hero .content {
  max-width: 900px;
}

.about .container {
  text-align: center;
  padding: 90px 120px 0px 120px;
}

.about .container:last-child {
  padding: 90px 120px 90px 120px;
}

.about .container h2 {
  margin-bottom: 20px;
}

.about a {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0;
}

.ainize .container {
  background-color: #f5f5f5;
  padding: 120px;
}

.ainize .content {
  max-width: 900px;
}

.ainize button,
.ainize button:focus {
  margin-top: 40px;
  width: 200px;
  height: 60px;
  background-color: #1a1b1f !important;
  color: white;
  font-size: 16px;
}

.ainize button:hover {
  background-color: #854cff !important;
}

.ainize button:active {
  background-color: #6535cc !important;
}

@media screen and (max-width: 1088px) {
  .about_hero .container {
    padding: 80px 50px 0px 50px;
  }
}

@media screen and (max-width: 948px) {
  .about_hero .quote {
    padding: 80px 100px 0px 100px;
  }
  .about_hero .quote h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 663px) {
  .about_hero .container {
    padding: 50px 20px 0px 20px;
  }
  .about .container {
    padding: 100px 15px 0;
  }
  .about .container:last-child {
    padding: 100px 15px;
  }
  .about_hero .quote {
    padding: 40px 80px 0px 80px;
  }
  .about_hero .quote h3 {
    font-size: 16px;
    line-height: 25px;
  }
  .about_hero .quote img {
    height: 40px;
    width: 40px;
  }
  .ainize button {
    width: 201px;
    height: 60px;
    font-size: 16px;
  }
  .ainize .container {
    padding: 60px;
  }
}

@media screen and (max-width: 487px) {
  .about_hero h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .about h4, .ainize h4 {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (max-width: 460px) {
  .about_hero, .ainize {
    margin: 0 !important;
  }
  .about_hero .container {
    padding: 60px 0 0;
    background-position-y: -150px;
  }
  .about_hero .content h4 {
    padding: 0 15px;
  }
  .about_hero .quote {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1),rgba(255, 255, 255, 1));
  }
  .about_hero .quote h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .about_hero .quote h4 {
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .about_hero .quote {
    padding: 60px 15px 2px 15px;
  }
  .ainize .container {
    padding: 100px 15px;
  }
}
