@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  font-family: "Montserrat" !important;
  color: #1a1b1f;
}

button,
button:focus {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  outline: none !important;
}
input {
  outline: none !important;
  border: none !important;
}

.section {
  margin: 0 30px;
}

.container {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: none;
  padding: 20px 50px;
}

header .logo {
  font-size: 27px;
  font-weight: 600;
  text-decoration: underline;
}

header .menu {
  display: flex;
  flex-direction: row;
}

header .menu a {
  margin-right: 40px;
  text-decoration: none;
}

header .menu a:last-child {
  margin-right: 0;
}

.hero .container {
  margin-top: 80px;
  margin-bottom: 100px;
}

.hero .typography {
  margin: 10px 0;
  text-transform: none;
}

.hero .typography .textLoop ._0 {
  color: #fe798d;
}
.hero .typography .textLoop ._1 {
  color: #a452a2;
}
.hero .typography .textLoop ._2 {
  color: #ee9b5b;
}
.hero .typography .textLoop ._3 {
  color: #aa642f;
}
.hero .typography .textLoop ._4 {
  color: #77c098;
}
.hero .typography .textLoop ._5 {
  color: #4ea49b;
}
.hero .typography .textLoop ._6 {
  color: #6f86c0;
}

.hero .link {
  position: static;
  float: none;
  clear: none;
  -webkit-transition-property: color;
  transition-property: color;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.searchWrapper .loaderContainer {
  position: absolute;
  width: 16px;
  height: 16px;
}

.categoryWrapper .loaderContainer {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background: transparent;
  position: relative;
  height: 16px;
  width: 16px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::after,
.loader::before {
  content: "";
  /* background: white; */
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #9190ae #9190ae transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.map .container {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.map .searchWrapper {
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #6c6a8e;
  border-radius: 0px;
  background-color: transparent;
}
.map .searchWrapper input {
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  width: 100%;
  color: #1a1b1f;
}

.map .searchWrapper input::placeholder {
  color: #a7a6bb;
}

.map .categoryWrapper {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.map .categoryWrapper .categoryIcon {
  background: url("../images/icon-bank.svg");
}

.map .categoryWrapper img.grayscale path {
  fill: green !important;
}

.map .categoryWrapper button {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
  width: 40px;
  height: 40px;
}

.map button:disabled {
  cursor: default !important;
}

.map .categoryWrapper button:last-child {
  margin: 0;
}
.map .menuWrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.map .menuWrapper .group {
  display: flex;
  align-items: center;
}

.map .menuWrapper button.day,
.map .menuWrapper button.time {
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #1a1b1f;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.map .menuWrapper button img {
  margin-left: 10px;
}
.map .menuWrapper .toggle {
  display: flex;
  align-self: center;
}
.map .menuWrapper input#toggleData {
  margin-right: 7px;
}
.map .menuWrapper label {
  margin-right: 20px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer {
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: none;
}

footer a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-weight: 500;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #1a1b1f;
}
footer a img {
  margin-right: 8px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.6;
}

p {
  margin-bottom: 10px;
}

a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
}

a:hover {
  color: #7586b9;
  text-decoration: underline;
}

a:active {
  color: #43464d;
}

@media screen and (max-width: 991px) {
  header .container {
    padding: 25px 30px;
  }
  h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 400;
  }

  h2 {
    font-size: 29px;
    line-height: 40px;
    font-weight: 400;
  }
}

@media screen and (max-width: 945px) {
  .map .menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .map .menuWrapper label {
    margin: 0;
  }

  .map .menuWrapper .group.two {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 75px;
  }
  .map .menuWrapper .group.two .toggle {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 663px) {
  h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
  }
  h2 {
    font-size: 14px;
    line-height: 25px;
  }
  h4 {
    font-size: 10px;
    line-height: 14px;
  }
  .map .searchWrapper,
  .map .categoryWrapper {
    max-width: none;
    text-align: center;
  }
  .map .menuWrapper {
    flex-direction: column;
    align-items: center;
  }
  .map .menuWrapper button.time {
    padding: 10px;
  }
  .map .menuWrapper .group.one {
    padding-bottom: 12px;
  }
  .map .menuWrapper .group.two {
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
  }
  .map .menuWrapper .group.two .toggle {
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    padding-bottom: 12px;
  }
  .map .categoryWrapper {
    justify-content: center;
  }
  footer {
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .ainizeLink {
    margin-bottom: 19px;
  }
  .map .searchWrapper input {
    font-size: 16px;
    line-height: 25px;
  }
}
