@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat" !important;
  color: #1a1b1f;
}

header {
  box-shadow: none !important;
}
.logo {
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
}

.hero.section {
  margin: 0 30px;
}

.hero .container {
  margin-top: 80px;
  margin-bottom: 100px;
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.typography {
  margin: 10px 0;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}
.link {
  position: static;
  display: block;
  float: none;
  clear: none;
  -webkit-transition-property: color;
  transition-property: color;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
}

a:hover {
  color: #7586b9;
  text-decoration: underline;
}

a:active {
  color: #43464d;
}
